<template name="newResultsEntry">        
    <div class="row">
        <div class="col s12 m8 push-m2 push-l2 l8 z-depth-1">                  
            {{#autoForm collection=resultEntriesCollection id="newResultsEntryForm" type="normal" validation="blur" 
            resultListId=resultListId
            raceId=raceId checkpointId=checkpointId}}
                <p class="flow-text">Athlete and their performance:</p>

                {{> afQuickField name='competitorId' type='select' options=competitorOptions }}

                <div class="row">
                    <div class="col s2">
                        
                    </div>
                    <div class="col s8">
                    </div>
                </div>

                {{> afQuickField name='splits' }}
                
                {{> afQuickField name='competitionFeatures'}}
                {{> afQuickField name='protestStatus'}}

                <div class="row">            
                    <div class="col s12 buttons">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary add-resultEntry-button">Add</button>
                            <button type="reset" class="btn btn-default goBack-button">Cancel</button>
                        </div>
                    </div>
                </div>
            {{/autoForm}}
        </div>
    </div>
</template>