<template name="privacyPolicy">
<h2>Política de privacidad</h2>

  <p>Fecha: 06 de diciembre de 2018.</p>
  
  
  <p>pBest ("nosotros") operamos el sitio web http://pbest.me y la aplicación pBest (el "Servicio").</p>
  
  <p>Esta página le informa sobre nuestras políticas con respecto a la recopilación, el uso y la divulgación de datos personales cuando utiliza nuestro Servicio y las opciones que tiene asociadas con esos datos.</p>
  
  <p>Utilizamos tus datos para proporcionar y mejorar el Servicio. Al utilizar el Servicio, aceptas la recopilación y el uso de la información de acuerdo con esta política. A menos que se defina lo contrario en esta Política de privacidad, los términos utilizados en esta Política de privacidad tienen los mismos significados que en nuestros Términos y condiciones generales.</p>
  
  
  <h2>Recopilación y uso de información</h2>
  
  <p>Recopilamos varios tipos diferentes de información con diversos fines para ofrecerte un buen Servicio y así mejorar el Servicio.</p>
  
  <h3>Tipos de datos recogidos</h3>
  
  <h4>Información personal</h4>
  
  <p>Mientras usamos nuestro Servicio, podemos pedirle que nos proporcione cierta información de identificación personal que pueda usarse para contactarlo o identificarlo ("Datos personales"). La información de identificación personal puede incluir, pero no se limita a:</p>
  
  <ul>
  <li>Dirección de correo electrónico</li><li>Nombre y apellidos</li><li>Número de teléfono</li><li>Dirección, Estado, Provincia, Código Postal, Ciudad</li>, <li>Fecha de nacimiento</li> y <li>Cookies y datos de uso</li>
  </ul>
  
  <h4>Datos de uso</h4>
  
  <p>También podemos recopilar información que su navegador envía cada vez que visita nuestro Servicio o cuando accede al Servicio por medio de un dispositivo móvil ("Datos de uso").</p>
  <p>Estos Datos de uso pueden incluir información como la dirección del Protocolo de Internet de su computadora (por ejemplo, la dirección IP), el tipo de navegador, la versión del navegador, las páginas de nuestro Servicio que visite, la fecha y hora de su visita, el tiempo dedicado a esas páginas, información exclusiva. Identificadores de dispositivos y otros datos de diagnóstico.</p>
  <p>Cuando accede al Servicio por medio de un dispositivo móvil, estos Datos de uso pueden incluir información como el tipo de dispositivo móvil que utiliza, la ID exclusiva de su dispositivo móvil, la dirección IP de su dispositivo móvil, su sistema operativo móvil, el tipo de navegador de Internet móvil que utiliza, identificadores únicos de dispositivos y otros datos de diagnóstico.</p>
  
  <h4>Seguimiento y datos de cookies</h4>
  <p>Utilizamos cookies y tecnologías de seguimiento similares para rastrear la actividad en nuestro Servicio y retener cierta información.</p>
  <p>Las cookies son archivos con una pequeña cantidad de datos que pueden incluir un identificador único anónimo. Las cookies se envían a su navegador desde un sitio web y se almacenan en su dispositivo.</p>
  <p>Puede indicar a su navegador que rechace todas las cookies o que indique cuándo se está enviando una cookie. Sin embargo, si no acepta las cookies, es posible que no pueda utilizar algunas partes de nuestro Servicio.</p>
  <p>Ejemplos de cookies que utilizamos:</p>
  <ul>
      <li><strong>Cookies de sesión.</strong> Los filtros y los textos de búsqueda se almacenan localmente para almacenar la última interacción con el Servicio.</li>
      <li><strong>Cookies de seguridad.</strong> Utilizamos cookies de seguridad con fines de seguridad y protegemos su privacidad.</li>
  </ul>
  
  <h2>Uso de datos</h2>
      
  <p>pBest utiliza los datos recopilados para diversos fines:</p>    
  <ul>
      <li>Proveer y mantener el Servicio.</li>
      <li>Para notificarle sobre cambios en nuestro Servicio.</li>
      <li>Para permitirle participar en las funciones interactivas de nuestro Servicio cuando elija hacerlo</li>
      <li>Brindar atención y soporte al cliente.</li>
      <li>Proporcionar análisis o información valiosa para que podamos mejorar el Servicio.</li>
      <li>Para controlar el uso del Servicio.</li>
      <li>Detectar, prevenir y abordar problemas técnicos.</li>
  </ul>
  
  <h2>Transferencia De Datos</h2>
  <p>Tu información, incluidos los Datos personales, puede transferirse a, y mantenerse en, computadoras ubicadas fuera de su estado, provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos pueden diferir de las de su jurisdicción, pero todos los servidores estarán ubicados En Europa y continuaremos preservando tu privacidad.</p>
  <p>Si te encuentras fuera de España y decide proporcionarnos información, tenga en cuenta que transferimos los datos, incluidos los Datos personales, a España y los procesamos allí.</p>
  <p>Tu consentimiento a esta Política de privacidad, seguido por el envío de dicha información, representa su consentimiento a esa transferencia.</p>
  <p>pBest tomará todas las medidas razonablemente necesarias para garantizar que sus datos se traten de forma segura y de acuerdo con esta Política de privacidad y no se transferirán sus Datos personales a una organización o país a menos que existan controles adecuados, incluida la seguridad de su Datos y otra información personal.</p>
  
  <h2>Divulgación de datos</h2>
  
  <h3>Requerimientos legales</h3>
  <p>pBest puede divulgar sus datos personales en la creencia de buena fe de que tal acción es necesaria para:</p>
  <ul>
      <li>Cumplir con una obligación legal.</li>
      <li>Para proteger y defender los derechos o propiedad de pBest.</li>
      <li>Para prevenir o investigar posibles irregularidades en relación con el Servicio</li>
      <li>Para proteger la seguridad personal de los usuarios del Servicio o del público.</li>
      <li>Proteger contra responsabilidad legal.</li>
  </ul>
  
  <h2>Seguridad de los datos</h2>
  <p>La seguridad de sus datos es importante para nosotros, pero recuerde que ningún método de transmisión a través de Internet o de almacenamiento electrónico es 100% seguro. Si bien nos esforzamos por utilizar medios comercialmente aceptables para proteger sus datos personales, no podemos garantizar su absoluta seguridad.</p>
  
  <h2>Proveedores de servicio</h2>
  <p>Es posible que contratemos a terceros e individuos para facilitar nuestro Servicio ("Proveedores de Servicios"), para proporcionar el Servicio en nuestro nombre, para realizar servicios relacionados con el Servicio o para ayudarnos a analizar cómo se utiliza nuestro Servicio.</p>
  <p>Estos terceros tendrán acceso a sus Datos personales solo para realizar estas tareas en nuestro nombre y están obligados a no divulgarlos ni utilizarlos para ningún otro fin.</p>
  
  <!--
  <h3>Analytics</h3>
  <p>We may use third-party Service Providers to monitor and analyze the use of our Service.</p>    
  <ul>
          <li>
          <p><strong>Google Analytics</strong></p>
          <p>Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.</p>
                          <p>For more information on the privacy practices of Google, please visit the Google Privacy & Terms web page: <a href="https://policies.google.com/privacy?hl=en">https://policies.google.com/privacy?hl=en</a></p>
      </li>
                  <li>
          <p><strong>Piwik or Matomo</strong></p>
          <p>Piwik or Matomo is a web analytics service. You can visit their Privacy Policy page here: <a href="https://matomo.org/privacy-policy">https://matomo.org/privacy-policy</a></p>
      </li>
                      </ul>
  
  -->
  
  <h2>Enlaces a otros sitios</h2>
  <p>Nuestro Servicio puede contener enlaces a otros sitios que no son operados por nosotros. Si hace clic en el enlace de un tercero, será dirigido al sitio de ese tercero. Le recomendamos encarecidamente que revise la Política de privacidad de cada sitio que visite.</p>
  <p>No tenemos control ni asumimos responsabilidad alguna por el contenido, las políticas de privacidad o las prácticas de los sitios o servicios de terceros.</p>
  
  
  <h2>Privacidad de los niños</h2>
  <p>Nuestro Servicio no se dirige a personas menores de 18 años ("Niños").</p>
  <p>No recopilamos a sabiendas información de identificación personal de ninguna persona menor de 18 años. Si usted es un padre o tutor y está consciente de que sus hijos nos han proporcionado datos personales, contáctenos. Si nos damos cuenta de que hemos recopilado Datos personales de niños sin la verificación del consentimiento de los padres, tomamos medidas para eliminar esa información de nuestros servidores.</p>
  
  
  <h2>Cambios en esta política de privacidad</h2>
  <p>Podemos actualizar nuestra Política de Privacidad de vez en cuando. Le notificaremos cualquier cambio mediante la publicación de la nueva Política de privacidad en esta página.</p>
  <p>Le haremos saber por correo electrónico y / o un aviso destacado en nuestro Servicio, antes de que el cambio entre en vigencia y actualizaremos la "fecha de vigencia" en la parte superior de esta Política de privacidad.</p>
  <p>Se recomienda revisar esta Política de privacidad periódicamente para detectar cualquier cambio. Los cambios a esta Política de privacidad son efectivos cuando se publican en esta página.</p>
  
  
  <h2>Contáctanos</h2>
  <p>Si tiene alguna pregunta sobre esta Política de privacidad, contáctanos:</p>
  <ul>
              <li>A través de la dirección de correo electrónico: pbest.me@gmail.com</li>
        
          </ul>
</template>